<div class="top">
    <div class="merchantName">Splyt Merchant: Carts</div>
</div>

<div class="back" ng-click="createNewCart()">New Card</div>

<div class="main">
    <div class="allover">
        Carts:
        <div class="item" ng-repeat="cart in carts" ng-click="goToCart(cart.id)">
            <div class="fullDescription">{{cart.merchantName}}</div>
            <div class="fullDate">{{cart.date|date:"medium"}}</div>
            <div class="fullAmount">Total: {{cart.totalPrice}}</div>
        </div>
    </div>
</div>